{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Site{% endblock %}</title>

    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    {% endblock css %}

</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'show' %}">Show books</a></li>
            
            <li><a href="{% url 'books_list' %}">Books</a></li>

            
        </ul>
    </nav>
    {% block header1 %}<h1>Library</h1>{% endblock header1 %}
    

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
<button onclick="window.history.back()">Back</button>

</body>
</html>
