{% extends 'base.html' %}

{% block title %}Show Items{% endblock %}



    {% block header1 %}<h1>Welcome contents page</h1>{% endblock header1 %}

{% block content %}
    <h2>List of Items</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in lista %}
            <tr>
                <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
            <td><a href="{% url 'delete' item.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
